* {
    padding: 0px;
    margin: 0px;
    color: #000;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Helvetica';
}

#header {
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    padding: 8px 36px;
    align-items: center;
}

.header-jordan-icon {
    padding: 0px 6px;
}


.header-jordan-icon-image {
    width: 24px;
}


.header-ul {
    display: flex;
    list-style: none;
    padding-right: 38px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}

.header-item {
    padding: 0 8px;
    border-right: 1px solid rgb(206, 203, 203);
}

.header-item:hover {
    color: rgb(151, 150, 150);
}

.header-item:last-child {
    border-right: none;
}

#header__navbar-lists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

#header__navbar-icon {
    padding: 0px 36px;
    flex: 3;
}

#header__navbar-icon:hover {
    background-color: #fff;;
}

.header__navbar-logo {
    width: 60px;
    /* margin-left: 50px; */
}

#header__navbar-menu {
    flex: 6;
}

.header__navbar-menu-ul {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.header__navbar-item {
    font-weight: 530;
    color: #111;
    padding: 16px 12px 18px;
    text-align: center;
}

#header__navbar-options {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 3;
    margin: 0 24px;
}

.header__search {
    width: 100%;
    height: 24px;
    border: 0px solid #555;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #eee;
    margin-right: 10px;
}

.header__search-btn {
    border: none;
    padding: 6px 6px;
    font-weight: 400;
    font-size: 20px;
}

.header__search-btn:hover {
    border-radius: 100px;
    background-color: #e5e5e5;
}

.header__search-btn > i {
    color: #111;
    cursor: pointer;
    /* background-color: white; */
    /* padding: 6px 8px; */
    line-height: 28px;
}

.header__search-input {
    flex: 1;
    height: 28px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #eee;
    opacity: 0.5;
    width: 100%;
    /* padding-right: 20px; */
}


.header__navbar-heart {
    cursor: pointer;
    margin-right: 12px;
    padding: 6px;
    background-color: white;
}

.header__navbar-heart:hover {
    background-color: #e5e5e5;
    border-radius: 50%;
}

.header__navbar-cart {
    cursor: pointer;
    padding: 6px;
    margin-right: 12px;
}

.header__navbar-cart:hover {
    background-color: #e5e5e5;
    border-radius: 50%;
}

#content__banner {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 58px;
    background-color: #eee;
}

#content__banner-hello {
    font-size: 16px;
    color: #111;
    font-weight: 550;
    height: 16px;
    font-family: 'Futura Condensed Extra Bold';
}

.content__banner-app {
    height: 24px;
    padding: 0;
    text-align: center;
}

.content__banner-download {
    font-size: 12px;
    padding-top: 10px;
}

.content__banner-link {
    text-decoration: underline;
    font-weight: 500;
}

.content__gif-img {
    width: 100%;
    padding: 0px 40px 15px 40px;
}

.content__gifts {
    /* display: flex; */
    text-align: center;
}

.content__gif-slogan-p {
    padding-bottom: 15px;
}

.content__gif-slogan-heading {
    padding-bottom: 15px;
    font-size: 60px;
}

.content__gif-btn {
    font-size: 15px;
}

.content__gif-btn-about {
    background-color: #111;
    color: #fff;
    border: 0px solid #000;
    border-radius: 50px;
    padding: 10px 10px;
    cursor: pointer;
    margin-right: 8px;
}

.content__gif-btn-shop {
    background-color: #111;
    color: #fff;
    border: 1.5px solid transparent;
    border-radius: 50px;
    padding: 10px 15px;
    cursor: pointer;
}

#section {
    margin-top: 80px;
    margin-left: 48px;
    margin-right: 48px;
}

.section__function {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.section__function-p {
    font-size: 28px;
    font-weight: 500;
}

.section__btn-prev , .section__btn-next{
    font-size: 18px;
    background-color: #111;
    color: #fff;
    border: 1.5px solid transparent;
    border-radius: 50px;
    padding: 8px 6px;
    cursor: pointer;
}

.section__item {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}

.section__product-1 {
    position: relative;
    margin-right: 8px;
    margin-left: 48px;
    justify-content: space-between;
    align-items: center;
}

.section__product-2 {
    position: relative;
    margin-left: 8px;
    margin-right: 8px;
    justify-content: space-between;
    align-items: center;
}

.section__product-3 {
    position: relative;
    margin-right: 48px;
    margin-left: 8px;
    justify-content: space-between;
    align-items: center;
}

.section__product-img {
    width: 100%;
}

.section__product-material {
    position: absolute;
    top: 85%;
    left: 50%;
    background-color: #111;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: 1.5px solid transparent;
    border-radius: 30px
}

.section__product-material:hover {
    background-color: #757575;
}

.section__product-btn {
    position: absolute;
    top: 85%;
    left: 20%;
    background-color: #111;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
    border: 1.5px solid transparent;    
    border-radius: 30px;
}

.section__product-btn:hover {
    background-color: #757575;
}

#section__rain {
    margin-top: 80px;
    margin-left: 48px;
    margin-right: 48px;
}

.section__rain-p {
    font-size: 28px;
    font-weight: 500;
}

.section__rain-item {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.section__rain-product-1 {
    position: relative;
    margin-right: 12px;
}

.section__rain-product-2 {
    position: relative;
}

.section__rain-product-img {
    width: 100%;
}

.section__product-subtitle {
    text-align: center;
    position: absolute;
    bottom: 150px;
    font-size: 16px;
    padding-bottom: 15px;
    left: 60px;
    color: #fff;
}

.section__product-title {    
    text-align: center;
    position: absolute;
    bottom: 110px;
    font-size: 26px;
    padding-bottom: 12px;
    left: 60px;
    color: #fff;
}

.section__rain-product-btn {
    position: absolute;
    top: 90%;
    left: 60px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
    border: 1.5px solid transparent;    
    border-radius: 30px;
}

#section__trending {
    margin-top: 80px;
    margin-left: 48px;
    margin-right: 48px;
}

.section__trending-p {
    font-size: 28px;
    font-weight: 500;
}

.section__trending-item {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.section__trending-product-1 {
    position: relative;
    margin-right: 8px;
    margin-left: 48px;
    justify-content: space-between;
    align-items: center;
}

.section__trending-product-2 {
    position: relative;
    margin-right: 48px;
    margin-left: 8px;
    justify-content: space-between;
    align-items: center;
}

.section__trending-product-desc {
    position: absolute;
    text-align: center;
    bottom: 70px;
    left: 36px;
    margin-bottom: 6px;
    color: #000;
    font-size: 16px;
    padding: 12px 24px;
}

.section-trending-product-btn {
    position: absolute;
    top: 90%;
    left: 10%;
    background-color: #111;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
    border: 1.5px solid transparent;    
    border-radius: 30px;
}

.section-trending-product-btn:hover {
    background-color: #e5e5e5;
    color: #757575;
}

.section__trending-product-img {
    width: 100%;
}

#section__featured {
    margin-top: 80px;
    margin-left: 48px;
    margin-right: 48px;
}

.section__featured-p {
    font-size: 28px;
    font-weight: 500;
}

.section__featured-product {
    margin-top: 26px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    text-align: center;
}

.section__featured-product-img {
    width: 100%;
}

.section__featured-product-heading {
    margin-top: 20px;
    font-size: 70px;
}

.section__featured-product-desc {
    margin-top: 12px;
    margin-bottom: 12px;
    color: #111;
    display: block;
}

.section__featured-product-btn {
    margin-top: 16px;
    background-color: #111;
    color: #fff;
    font-size: 15px;
    border: 1.5px solid transparent;
    border-radius: 50px;
    padding: 10px 24px;
    cursor: pointer;
}

.section__featured-product-btn:hover {
    background-color: #eee;
    color: #555;
}

#section__more {
    margin-top: 80px;
    margin-left: 48px;
    margin-right: 48px;
}

.section__more-p {
    font-size: 28px;
    font-weight: 500;
}

.section__more-age {
    margin-top: 40px;
    display: flex;
}

.section__more-product-1 {
    position: relative;
    margin-right: 12px;
}

.section__more-product-2 {
    position: relative;
}

.section__more-product-3 {
    margin-left: 12px;
    position: relative;
}

.section__more-img {
    width: 100%;
    height: 100%;
}

.section__more-product-btn {
    position: absolute;
    bottom: 50px;
    left: 16px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
    border: 1.5px solid transparent;    
    border-radius: 30px;
}

.section__more-product-btn:hover {
    background-color: #757575;
    color: #111 ;
}

#section__more-lists {
    margin-top: 84px;
    margin-left: 260px;
    margin-right: 260px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section__more-menu {
    max-width: 920px;
}

.section__more-menu:nth-child(2) {
    padding-left: 40px;
}

.section__more-menu:nth-child(3) {
    padding-left: 24px;
}

.section__more-menu h4{
    margin-bottom: 24px;
}

.section__more-menu-ul {
    list-style: none;
}


.section__more-menu-item {
    color: #757575;
    padding-bottom: 12px;
    cursor: pointer;
}

.section__more-menu-item:hover {
    color: #111;
}

/* Footer */
#footer {
    /* width: 100%; */
    background-color: #000;
    margin-top: 80px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 40px 40px 0 40px;
    margin-bottom: 16px;
}

.footer__modal {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    float: left;
    margin-bottom: 22px;
}

.footer__more {
    padding-right: 80px;
    line-height: 36px;
}

.footer__more-member-item:first-child {
    margin-top: -10px;
}

.footer__more-member-item {
    margin-bottom: 4px;
}

.footer__more-member-item > a{
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
}

.footer__more-member-ul {
    list-style: none;
}

.footer__help {
    padding-left: 60px;
    padding-right: 80px;
}

.footer__help-order-ul {
    list-style: none;
    font-size: 12px;
}

.footer__help-order-item-1 {
    margin-bottom: 16px;
}

.footer__help-order-item-1 > a{
    color: #fff;
}

.footer__help-order-item {
    margin-bottom: 16px;
    font-size: 12px;
}


.footer__help-order-item > a {
    color: #757575;
}   

.footer__help-order-item>a:hover {
    color: #fff;
}

.footer__about {
    padding-left: 40px;
}

.footer__about-nike-about {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer__about-nike-item {
    font-size: 12px;
    margin-bottom: 16px;
}

.footer__about-nike-item :hover {
    color: #fff;
}

.footer__about-nike-item > a {
    color: #757575;
}

.footer__about-nike-ul {
    list-style: none;
}

.footer__social {
    float: right;
}

.footer__social-menu-ul {
    list-style: none;
}

.footer__social-menu-item {
    display: inline-block;
    margin: 0 8px;
}

.footer__social-menu-icon {
    color: #000;
    font-size: 18px;
    padding: 6px 6px;
    border-radius: 30px;
    background-color: #757575;
    border: 1.5px solid transparent;
}

.footer__social-menu-icon:hover {
    background-color: #fff;
}

.footer__sub {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 12px;
    margin: 0 36px;
}

.footer__sub-addr {
    display: flex;
    margin-bottom: 16px;
}

.footer__sub-location  {
    display: inline-block;
    padding: 0 12px;
}

.footer__sub-location span {
    color: #fff;
}


.footer__sub-addr-icon {
    color: #fff;
    padding-right: 8px;
}

.footer__sub-copyright {
    margin-left: 24px;
    display: inline-block;
}

.footer__sub-label-copyright {
    color: #757575;
}

.footer__sub-menu-ul {
    list-style: none;
}

.footer__sub-menu-item {
    color: #555;
    display: inline-block;
    margin: 0 12px;
}

.footer__sub-menu-item:hover {
    cursor: pointer;
    color: #fff;
}